# Specific Files
tmp.py
log.txt
stdout.txt
out.txt
stderr.txt
err.txt
notes.txt
TODO
*.pseudo
*.patch
nohup*

### VisualStudioCode ###
.vscode/*

# Local History for Visual Studio Code
.history
.ionide

# Built Visual Studio Code Extensions
*.vsix

### Pre-Commit Prettier ###
node_modules/
