-r requirements.txt
git+https://github.com/George-Ogden/dbg
git+https://github.com/George-Ogden/mirror-rorrim
git+https://github.com/George-Ogden/mypy-pytest
git+https://github.com/George-Ogden/pytest-dbg
mypy
pre-commit
pytest-timeout
pytest-xdist
